body {
    background-color: #faaca8;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: flex;
    flex-direction: column;
}

div#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    padding: 15px;
}

#noButton {
    position: absolute;
    left: 770px;
    padding: 7px;
}

#yesButton {
    margin-left: -45px;
    padding: 7px;
}